:root {
    --salmon: #FD3F59;
    --orange: #FFC82E;
    --yellow: #FEFB34;
    --green: #53DA3F;
    --cyan: #01EDFa;
    --purple: #DD0AB2;
    --darkBlue: #485DC5; 
    --navy: #2E2E84;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.gameBoard {
    background-color: var(--navy);
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 300px;
    box-shadow: 4px 4px #485dc5bd;
    position: relative;
}

.gameBoard div {
    height: 30px;
    width: 30px;
    border: var(--navy) 1px solid;
}

#play {
    position: absolute;
    border: none;
    background-color: var(--purple);
    color: var(--navy);
    font-weight: bold;
    font-size: 2rem;
    padding: 4px 20px;
    box-shadow: 2px 2px var(--salmon);
    cursor: pointer;
}

#play:hover {
    background-color: var(--yellow);
}